# Taken mostly from https://github.com/pikvm/ustreamer/issues/16
# Systemd service docs: https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=uStreamer service
Wants=network-online.target muti-user.target
After=network-online.target muti-user.target dev-camera0.device
BindsTo=dev-camera0.device
Restart=always

[Service]
User=mau
# Wait for other services before starting uStreamer. Otherwise uStreamer was starting but not reachable.
# Taken from https://stackoverflow.com/a/44737570
ExecStart=/usr/bin/ustreamer --desired-fps=10 --host=octolap.local --device /dev/camera0 --device-error-delay 5 --device-timeout 5 --slowdown
# Not sure if line below is needed
#DeviceAllow=/dev/camera0

[Install]
WantedBy=multi-user.target


